
<div class="ui one column center aligned very padded grid">
  <!-- WeatherIcon -->
  <i ng-class="$ctrl.weatherIcon" class="padded-icon" style="font-size: 10vw"></i>
</div>

<div class="content">
  <!-- Weather description-->
  <a class="header">{{$ctrl.weatherDescription}}</a>
  <div class="meta">
    <!-- Temperature-->
    <span class="temperature">{{$ctrl.currentTemp}}&degF</span>
  </div>
  <div class="description">
    Today's High: {{$ctrl.highTemp}}&degF<br>
    Today's Low: {{$ctrl.lowTemp}}&degF
  </div>
</div>

<div class="extra content">
  <a ng-click="$ctrl.expand()">
    {{$ctrl.detailText}}
  </a>
</div>
<div ng-if="$ctrl.isExpanded" class="content">
  <div class="description">
    Wind Speed: {{$ctrl.windSpeed}}mph<br>
    Humidity: {{$ctrl.humidity}}%<br>
    Pressure: {{$ctrl.pressure}} mbar<br>
    Sunrise: {{$ctrl.sunrise}}<br>
    Sunset: {{$ctrl.sunset}}<br>
  </div>
</div>
