.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #374356; }

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #374356; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #56757c; }

.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: #56757c; }

.ct-chart-line {
  padding-top: .5vw;
}

.padded-icon .wi {
  padding-left: 3vw;
  padding-right: 3vw;
}

.ui.fluid.card {
  max-width: 660px;
}

.ui.centered.card {
  max-height: 425px;
}

#title {
  padding: 1vw;
  font-size: 1.5em;
}
